/* Your Website Styles */
@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400';
body {
  width: 100vw;
  max-width: 2000px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 3.5em;
  text-transform: uppercase;
  margin-bottom: 0;
}

h3:after {
  content: "";
  width: 60px;
    height: 1.5px;
    display: block;
    background: #000000;
margin-top: 5px;
    margin-bottom: 15px;
  margin-left: 10px;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.8em;
  text-transform: uppercase;
  margin-bottom: 0;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 0;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
}

nav.sidenav li {
  border-bottom: 1px solid #000000;
  width: 120px;
  list-style: none;
  margin: 50px 20px;
  padding-bottom: 5px;
}

nav.sidenav li:first-of-type {
  border-bottom: 0px;
  margin-top: 0px;
}

nav.sidenav li a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

nav.sidenav li a:hover {
  color: red;
  transition: 1s;
}

nav.sidenav {
  width: 8vw;
  position: fixed;
  margin-top: .5vw;
}

.body {
  width: 95%;
  margin-left: 200px;
}

.landingpage {
  width:99%;
  margin-top: .5vw;
  overflow: hidden;
}

div.landingpage img {
  width: 100%;
}


nav.sidenav, div.section {
  display: inline-block;
  vertical-align: top;
}

div.gallery {
  width: 66%;
  float: left;
  margin-top: 10px;
  margin-left: 15%;
}

.gallery div {
  display: inline-block;
  vertical-align: top;
}

.gallery div:nth-child(1),
.gallery div:nth-child(2) {
  width:49%;
}

.gallery div:nth-child(3),
.gallery div:nth-child(4),
.gallery div:nth-child(5){
  width:32.6%;
}

.gallery div img {
  width: 100%;
}


.gallerypage {
  margin-top: 50px;
}

.gallerypage h3 {
  margin-left: 200px;
}

.biopage, .resume {
  display: inline-block;
  margin-top: 200px;
  padding-left: 200px;
}

.biopage img {
  float: left;
  display: inline-block;
  margin-left: 80px;
  padding-right: 30px;
}

.biopage span {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-transform: uppercase;
}

.resume .bio {
  width: 60%;
}
.biopage .bio {
  width: 80%;
}

.resume .bio {
  background: #333333;
  color: #ffffff;
  margin-left: 80px;
  padding: 10px 40px 50px 60px;
  margin-right: 30px;
  width: 50%;
   float: left;
  display: inline-block;
}

.biopage ul li {
  display: inline-block;
  width: 50px;
  float: left;
  margin-top: 20px;
}
.biopage ul li img {
  margin-left: 0;
}

.resume ul {
  padding-left: 100px;
  list-style: none;
}


.content {
  display: inline-block;
  width: auto;
  float: left;
}

.content img {
  display: inline-block;
}
